*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    position: relative;
}
.enquery-form{
    position: absolute !important;
    bottom: 10px;
    right: 10px;
    background-color: rgb(0 0 0 / 62%);
}

#contact form input{
    padding: 5px 10px;
    margin: 5px 0px;
    border: 1px solid gray;
    border-radius: 5px;
}
#contact form textarea{
    padding: 5px 10px;
    margin: 5px 0px;
    border: 1px solid gray;
    border-radius: 5px;
}

#floor-plan .content-inner img{
    border: 2px solid rgb(52, 51, 51);
    box-shadow: 0 0 9px 0 rgba(29, 33, 67, 0.10);
    margin: 5px 0px;
}

.modal {
    position: fixed;
    top: 90px !important;
    left: 0;
    z-index: 1050 !important;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1 !important;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}